<html>
    <body>
        <header>
            <nav style="display: flex;">
            <li style="display: flex;">
                <ul>home</ul>
                <ul>Wishlist</ul>
                <ul><a href="{%url 'register' %}">Register</a></ul>
                <ul><a href="{% url 'login' %}">Login</a></ul>
                <ul>Cart</ul>
            </li> 
            
            </nav>
        </header>
<div style="color: blue; background-color: rgb(222, 237, 109);">     
  <section>  <h1 >
        Welcome to BuyNest
    </h1>
</div>
    <p>
        This is our home page for Project
    </p>
</section>
</body>
</html>